<h1 mat-dialog-title>Create Call</h1>
<div mat-dialog-content>
  <mat-form-field >
    <mat-label>Enter Name</mat-label>
    <input matInput [(ngModel)]="data.peerId">
  </mat-form-field>
  <mat-form-field [cdkCopyToClipboard]="data.peerId" (click)="showCopiedSnackBar()">
    <mat-label>CLICK TO COPY YOUR ID</mat-label>
    <input [disabled]="!data.joinCall" matInput [(ngModel)]="data.peerId">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data.peerId">Ok</button>
</div>
